* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:not(i) {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    background-color:#0a8796;
}

.div-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}



h1, h3, h4 {
    font-family: 'Oswald', sans-serif;
}
.container {
    background-color: #06ccd7;
    width: 90%;
    /* position: absolute; */
    margin-left: 30px;
    margin-top: 30px;
    top: 20%;
    left: 5%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 2opx 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #0a8796;
    font-size: 16px;

}

.search-box button, .favorite-list button{
    padding: 15px 0;
    width: 25%;
    background-color: #0a8796;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;

}



.favorite-list {
    display: flex ;
    justify-content: center; 
    margin-top: 50px;
   
    
} 

.result {
    position: relative;
}

.result h3 {
    font-size: 30px;
    color: #000000;
}

.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button {
    background-color: transparent;
    color: #0a8796;
    border: none;
    outline: none;
    font-size: 18px;

}

.result .details {
    display: flex;
    gap: 10px;
    color: #ecedf5;
    margin: 5px 0 20px 0;
    font-size: 14px;

}
.word-meaning{
    color:#0f0101;
}
.word-example{
    color: #ffffff;
    font-style: italic;
    border-left: 5px solid #1f194c;
    padding-left: 20px;
    margin-top: 30px;
}

.container-two {
    background-color: #06ccd7;
    margin-top: 30px;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 80px 30px;
    border-radius: 10px;
    box-shadow: 0 2opx 40px rgba(38, 33, 61, 0.2);
}
.div-remove-btn {
    display: flex;
    justify-content: flex-end;
    
 
  
}
.title-container-two {
    color:#0a8796;
}

.container-three, .container-four {
    color: #0ffff8;
    background-color: #0a8796;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 90%;
    padding: 50px;
    border-radius: 40px;
}
/* .container-four {
    margin-bottom: 30px;
} */
h4, h3 {
  text-align: center;

  
}
.img-activities, .img-translator {
    width: 50%;
    padding: 10px;
 
}

.content-three, .content-four {
    text-align: center;
}
/* NAAAAAAAAAAAAAAAAV */
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;

}

nav ul li a {
    overflow: hidden; 
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    background-color: #0a8796;
    border-top: 1px solid #e7ebec;
    
  }

nav ul {
   
    list-style-type: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

  nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1) {
    display: block;
}

#hamburguerBtn span:nth-child(2) {
    display: none;
}

#hamburguerBtn.open span:nth-child(1) {
    display: none;
}

#hamburguerBtn.open span:nth-child(2) {
    display: block; }

#hamburguerBtn {
    color: #fcfeeb;
    
}


/* ------------FOOTER----------- */
footer {
    background-color: #0a8796 ;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}

.footer-h1 {
    color: #000000 ;
}
.location {
    list-style-type: none;
    color: #ffffff;

}

.footer-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}